<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Lista de Usuarios</title>
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="flex flex-wrap mb-6">
        <h1 style="border-bottom: 2px solid #4c4b4b; padding: 1rem; text-align: center; ">Lista de usuarios</h1>
        <div style="color: white; border: 2px solid white; border-radius: 3px; background-color: #1D1D1D; padding: 1rem; margin: 0.5rem; ">
            <a th:href="@{/usuarios/add}">Crear un unico usuario</a>
        </div>
    </div>
    <div th:if="${usuarios.empty}">No hay usuarios para mostrar.</div>
    <div th:if="${!usuarios.empty}" class="overflow-x-auto">
        <div th:each="usuario : ${usuarios}" class="card" style="background-color: #393939; color: white; padding: 1rem; text-align: center; border: 3px solid rgba(0,204,0,0.8); border-radius: 10px; width: calc(90%); margin: 0.5rem ">
            <div style="display: flex;; margin-bottom: 0.5rem;">
                <strong style="padding-right: 0.5rem;">ID cuenta</strong>
                <strong style="padding-right: 0.5rem;">Transacción</strong>
                <strong style="padding-right: 0.5rem;">Cantidad</strong>
                <strong style="padding-right: 0.5rem;">Fecha</strong>
            </div>
            <div style="display: flex; margin-bottom: 0.5rem;">
                <p style="padding-right: 0.5rem;">[[${usuario.accountId}]]</p>
                <p style="padding-right: 0.5rem;">[[${usuario.transactionType}]]</p>
                <p style="padding-right: 0.5rem;">[[${usuario.amount}]] €</p>
                <p style="padding-right: 0.5rem;">[[${usuario.transactionDate}]]</p>
            </div>
            <div class="actions" style="margin-top: 1rem; display: flex; justify-content: flex-end;">
                <a th:href="@{/usuarios/edit/{id}(id=${usuario.id})}" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300 focus:ring-3 rounded px-2.5 py-1.5 text-sm" style="margin-right: 0.5rem;">Editar</a>
                <form th:action="@{/usuarios/delete/{id}(id=${usuario.id})}"
                      th:data-confirm-message="'¿Estás seguro de que quieres eliminar este usuario?'" method="post" class="js-submit-confirm inline">
                    <button type="submit" class="inline-block text-white bg-red-600 hover:bg-red-700 focus:ring-red-300 focus:ring-3 rounded px-2.5 py-1.5 text-sm">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>