<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Lista de Usuarios</title>
</head>
<body>
<div layout:fragment="content">
    <div class="flex flex-wrap mb-6">
        <h1 class="grow text-3xl md:text-4xl font-medium mb-2">Lista de Usuarios</h1>
        <div>
            <a th:href="@{/usuarios/add}" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2">Crear Nuevo Usuario</a>
        </div>
    </div>
    <div th:if="${usuarios.empty}">No hay usuarios para mostrar.</div>
    <div th:if="${!usuarios.empty}" class="overflow-x-auto">
        <div th:each="usuario : ${usuarios}" class="card" style="background-color: #393939; color: white; margin-bottom: 1rem; padding: 1rem; text-align: center;">
            <p><strong>Account ID:</strong> [[${usuario.accountId}]]</p>
            <p><strong>Transacción:</strong> [[${usuario.transactionType}]]</p>
            <p><strong>Cantidad:</strong> [[${usuario.amount}]]</p>
            <p><strong>Fecha de Transacción:</strong> [[${usuario.transactionDate}]]</p>
            <div class="actions" style="margin-top: 1rem;">
                <a th:href="@{/usuarios/edit/{id}(id=${usuario.id})}" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm">Editar</a>
                <form th:action="@{/usuarios/delete/{id}(id=${usuario.id})}"
                      th:data-confirm-message="'¿Estás seguro de que quieres eliminar este usuario?'" method="post" class="js-submit-confirm inline">
                    <button type="submit" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>