<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Banco | Luis Miguel Urbez</title>
</head>
<body>
<div layout:fragment="content" >
    <h1 style="border-bottom: 2px solid #4c4b4b; padding: 1rem;">Añadir archivos de usuario</h1>
    <p style="padding: 1rem; text-align: center;">Desde aqui puedes añadir nuevos usuarios usando un archivo csv. Por limitaciones de la web solo se puede usar un csv determinado.<br>
        Este csv se puede encontrar proporcionado en la siguiente pagina web, desde la cual tras descargarlo puede usarlo para importar los usuarios<br>
    <h2 style="text-align: center; text-decoration: none; color: white; margin: 0; padding: 0"><a href="https://www.mockaroo.com/976cfa30" target="_blank">Web del csv</a></h2><br>
    <p style=" text-align: center;">Una vez entres al link solo tienes que pulsar sobre el boton verde "GENERATE DATA", te descargara un archivo CSV que podras usar para importarlo mas abajo</p>

    <form method="POST" action="/upload" enctype="multipart/form-data" style="margin:1.5rem;gap: 1rem; display: flex; flex-direction: column; justify-content: center; align-items: center">
        <input type="file" name="file" accept=".csv" style="font-size: 1.2rem">
        <button type="submit" style=" font-weight: bold; background-color: #6565fa; color: white;border-radius: 6px; border: 2px solid rgba(0,204,0,0.8); transition: background-color 0.3s ease; font-size: 1.2rem; padding: 0.5rem;">Subir archivo</button>
    </form>

</div>
<script>
    document.querySelector('form').addEventListener('submit', function(event) {
        var fileInput = document.querySelector('input[type=file]');
        var fileName = fileInput.value;

        if (!fileName.endsWith('.csv')) {
            alert('Por favor, sube un archivo CSV.');
            event.preventDefault();
        }
    });
</script>
</body>
</html>