<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Filtrar usuarios | Banco</title>
  <style>
    a {
      text-decoration: none;
    }
  </style>
  <style>
    .filtro-button {
      color: white;
      border: 2px solid white;
      border-radius: 10px;
      background-color: #1D1D1D;
      padding: 1rem;
      margin-right: 0.5rem;
      width: max-content;
      cursor: pointer;
    }
  </style>
  <script>
    function applyFilter(filterType) {
      fetch('/api/filtros?filterType=' + filterType)
              .then(response => response.json())
              .then(users => {
                var userList = document.querySelector('.overflow-x-auto');
                userList.innerHTML = '';
                users.forEach(user => {
                  var userElement = document.createElement('div');
                  userElement.classList.add('card');
                  userElement.style.display = 'flex';
                  userElement.style.flexDirection = 'row';
                  userElement.style.backgroundColor = '#393939';
                  userElement.style.color = 'white';
                  userElement.style.padding = '1rem';
                  userElement.style.border = '3px solid rgba(0,204,0,0.8)';
                  userElement.style.borderRadius = '10px';
                  userElement.style.margin = '0.5rem';

                  userElement.innerHTML = `
                    <div style="display: flex; flex-direction:column; border-right: 2px solid #535252; margin-bottom: 0.5rem;">
                        <strong style="padding-right: 0.5rem;">ID cuenta</strong>
                        <p style="padding-right: 0.5rem;">${user.accountId}</p>
                    </div>
                    <div style="margin-left:0.5rem;display: flex;flex-direction:column; border-right: 2px solid #535252; margin-bottom: 0.5rem;">
                        <strong style="padding-right: 0.5rem;">Transacción</strong>
                        <p style="padding-right: 0.5rem;">${user.transactionType}</p>
                    </div>
                    <div style="margin-left:0.5rem;display: flex;flex-direction:column; border-right: 2px solid #535252; margin-bottom: 0.5rem;">
                        <strong style="padding-right: 0.5rem;">Cantidad</strong>
                        <p style="padding-right: 0.5rem;">${user.amount} €</p>
                    </div>
                    <div style="margin-left:0.5rem;display: flex; flex-direction:column; border-right: 2px solid #535252; margin-bottom: 0.5rem;">
                        <strong style="padding-right: 0.5rem;">Fecha</strong>
                        <p style="padding-right: 0.5rem;">${user.transactionDate}</p>
                    </div>
                `;

                  userList.appendChild(userElement);
                });
              });
    }
  </script>

</head>
<body>
<div layout:fragment="content">
  <div>
    <h1 style="border-bottom: 2px solid #4c4b4b; padding: 0.5rem; ">Filtrar usuarios</h1>

    <div style="margin: 0.5rem; display: flex; flex-direction: row; flex-wrap: wrap; overflow: auto; align-items: center">
      <button class="filtro-button" id="filter-gasto" onclick="applyFilter('gasto')">Mayor a menor ingreso</button>
      <button class="filtro-button" id="filter-ingreso" onclick="applyFilter('ingreso')">Mayor a menor gasto</button>
      <button  class="filtro-button" id="filter-fechaAntiguo" onclick="applyFilter('fechaAntiguo')">Fechas: más antiguo primero</button>
      <button class="filtro-button" id="filter-fechaREciente" onclick="applyFilter('fechaReciente')">Fechas: más reciente primero</button>
      <button class="filtro-button" id="filter-cuentaAZ" onclick="applyFilter('cuentaAZ')">A-Z Cuentas</button>
      <button class="filtro-button" id="filter-cuentaZA" onclick="applyFilter('cuentaZA')">Z-A Cuentas</button>
    </div>
  </div>



    <div th:if="${usuarios.empty}" style="text-align: center; font-weight: bold">No hay usuarios para mostrar.</div>
    <div th:if="${!usuarios.empty}" class="overflow-x-auto">
      <div th:each="usuario : ${usuarios}" class="card" style="display: flex; flex-direction: row; background-color: #393939; color: white; padding: 1rem;  border: 3px solid rgba(0,204,0,0.8); border-radius: 10px; margin: 0.5rem ">

        <div style="display: flex; flex-direction:column; border-right: 2px solid #535252; margin-bottom: 0.5rem;"><!-- Iban -->
          <strong style="padding-right: 0.5rem;">ID cuenta</strong>
          <p style="padding-right: 0.5rem;">[[${usuario.accountId}]]</p>
        </div>

        <div style="margin-left:0.5rem;display: flex;flex-direction:column; border-right: 2px solid #535252; margin-bottom: 0.5rem;"><!-- Tipo de Transaccion -->
          <strong style="padding-right: 0.5rem;">Transacción</strong>
          <p style="padding-right: 0.5rem;">[[${usuario.transactionType}]]</p>
        </div>

        <div style="margin-left:0.5rem;display: flex;flex-direction:column; border-right: 2px solid #535252; margin-bottom: 0.5rem;"><!-- Cantidad -->
          <strong style="padding-right: 0.5rem;">Cantidad</strong>
          <p style="padding-right: 0.5rem;">[[${usuario.amount}]] €</p>
        </div>

        <div style="margin-left:0.5rem;display: flex; flex-direction:column; border-right: 2px solid #535252; margin-bottom: 0.5rem;"><!-- Fecha Transaccion -->
          <strong style="padding-right: 0.5rem;">Fecha</strong>
          <p style="padding-right: 0.5rem;">[[${usuario.transactionDate}]]</p>
        </div>
      </div>
    </div>
</div>
</body>
</html>