<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">[[#{app.title}]]</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>
<body style="padding: 0; margin: 0; background-color: #2D2D2D; color: white;">
<header style="background-color: #393939; text-decoration: none">

    <nav style="display: flex; justify-content: space-between; padding: 2rem;">
        <!-- Links a la izquierda -->
        <div>
            <a th:href="@{/}" style="margin-right: 1rem; color: white;">Link 1</a>
            <a th:href="@{/}" style="margin-right: 1rem; color: white;">Link 2</a>
        </div>

        <!-- Link a usuarios en el centro -->
        <div>
            <a href="#" style="background-color: #82AAFF; color: #000000; padding: 0.5rem 1rem; border-radius: 0.5rem;">Lista de usuarios</a>
        </div>

        <!-- Botón a la derecha -->
        <div>
            <a href="#" style="background-color: green; color: #000000; padding: 0.5rem 1rem; border-radius: 0.5rem;">Añadir usuarios</a>
        </div>
    </nav>
</header>
<main class="my-12">
  <p>Hola</p>
    <main class="my-12">
        <div th:replace="usuario/list :: userList"></div>
    </main>
</main>
</body>
</html>