<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Banco | Luis Miguel Urbez</title>
</head>
<body>
<div layout:fragment="content" style="position: fixed; left: 50%; transform: translateX(-50%);">
    <h1 class="text-center" style="text-align: center">Bienvenido al banco de Luis Miguel Urbez</h1>
    <p class="text-center" style="text-align: center">Aquí puedes añadir usuarios, realizar transacciones y mucho más.</p>
</div>
</body>
</html>